<a href="https://colab.research.google.com/github/slouxjiwon/itb.team/blob/main/%EC%95%84%EB%B9%84%ED%98%81_%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
!apt -qq -y install fonts-nanum > /dev/null

import matplotlib.font_manager as fm

fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'
font = fm.FontProperties(fname=fontpath, size=9)
fm._rebuild()

plt.rc('font', family='NanumGothic') 
plt.rc("axes", unicode_minus=False)

import matplotlib
matplotlib.font_manager._rebuild()
#한글이 깨지지 않도록 하는 코드. 한글이 깨질시 이 코드를 재 실행하고 실행해보세요.

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

In [ ]:
%config InlineBackend.figure_format = 'retina'

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
#구글 드라이브 마운팅

Mounted at /content/drive

In [ ]:
market = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/ITB/market_price.csv", encoding= 'cp949')
#csv 파일 받으실 때 여러분 경로에 맞게 수정하셔야 엔코딩 됩니다
#utp-8로 인코딩할시 16진수 때문에 에러남. cp949로 엔코딩했음

In [ ]:
print(market.columns)
display(market.info())

Index(['일련번호', '시장/마트 번호', '시장/마트 이름', '품목 번호', '품목 이름', '실판매규격', '가격(원)',
       '년도-월', '비고', '시장유형 구분(시장/마트) 코드', '시장유형 구분(시장/마트) 이름', '자치구 코드',
       '자치구 이름', '점검일자'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89899 entries, 0 to 89898
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   일련번호               89899 non-null  int64
 1   시장/마트 번호           89899 non-null  int64
 2   시장/마트 이름           89899 non-null  object
 3   품목 번호              89899 non-null  int64
 4   품목 이름              89855 non-null  object
 5   실판매규격              89899 non-null  object
 6   가격(원)              89899 non-null  int64
 7   년도-월               89899 non-null  object
 8   비고                 89452 non-null  object
 9   시장유형 구분(시장/마트) 코드  89899 non-null  int64
 10  시장유형 구분(시장/마트) 이름  89899 non-null  object
 11  자치구 코드             89899 non-null  int64
 12  자치구 이름             89899 non-null  object
 13  점검일자               89899 non-null  object
dtypes: int64(6), object(8)
memory usage: 9.6+ MB

None

In [ ]:
market.head() #위 아래 csv 러프하게 확인해봄.

,일련번호,시장/마트 번호,시장/마트 이름,품목 번호,품목 이름,실판매규격,가격(원),년도-월,비고,시장유형 구분(시장/마트) 코드,시장유형 구분(시장/마트) 이름,자치구 코드,자치구 이름,점검일자
0,1636107,226,롯데마트 구로점,28,사과,1개 (300g),1598,2021-01,"국내산,부사",2,대형마트,530000,구로구,2021-01-21
1,1636108,226,롯데마트 구로점,27,배,1개 (600g),1590,2021-01,"국내산,신고",2,대형마트,530000,구로구,2021-01-21
2,1636109,226,롯데마트 구로점,26,배추,1포기(2kg),3990,2021-01,국내산,2,대형마트,530000,구로구,2021-01-21
3,1636110,226,롯데마트 구로점,25,무,1개 (900g),1990,2021-01,국내산,2,대형마트,530000,구로구,2021-01-21
4,1636111,226,롯데마트 구로점,24,양파,1개 (200g),990,2021-01,국내산,2,대형마트,530000,구로구,2021-01-21

In [ ]:
market.tail() #필요없는 행 확인. 일련번호, 시장/마트 번호, 자치구코드, 자치구 이름, 비고는 그냥 열 삭제 하기로, 년도-월은 점검일자와 겹침

,일련번호,시장/마트 번호,시장/마트 이름,품목 번호,품목 이름,실판매규격,가격(원),년도-월,비고,시장유형 구분(시장/마트) 코드,시장유형 구분(시장/마트) 이름,자치구 코드,자치구 이름,점검일자
89894,1724775,154,홈플러스 강동점,320,달걀(30개),특란,6490,2021-12,국내산,2,대형마트,740000,강동구,2021-12-30
89895,1724776,154,홈플러스 강동점,144,"조기(국산,냉동)",1마리,1190,2021-12,국내산3마리3570,2,대형마트,740000,강동구,2021-12-30
89896,1724777,154,홈플러스 강동점,264,"명태(냉동,수입산)",1마리,3490,2021-12,수입산(러시아),2,대형마트,740000,강동구,2021-12-30
89897,1724778,154,홈플러스 강동점,256,"오징어(냉동,국산)",1마리,4980,2021-12,국내산,2,대형마트,740000,강동구,2021-12-30
89898,1724779,154,홈플러스 강동점,266,"고등어(생물,국산)",1마리,3990,2021-12,국내산2마리7980,2,대형마트,740000,강동구,2021-12-30

In [ ]:
df = market.drop(['일련번호','시장/마트 번호','자치구 코드','자치구 이름', '년도-월', '비고'], axis=1)

In [ ]:
df.head() #삭제하고 보니 코드, 이름 등 열 이름이 너무 불필요하게 긺. 이를 깔끔하게 수정하고자 함.

,시장/마트 이름,품목 번호,품목 이름,실판매규격,가격(원),시장유형 구분(시장/마트) 코드,시장유형 구분(시장/마트) 이름,점검일자
0,롯데마트 구로점,28,사과,1개 (300g),1598,2,대형마트,2021-01-21
1,롯데마트 구로점,27,배,1개 (600g),1590,2,대형마트,2021-01-21
2,롯데마트 구로점,26,배추,1포기(2kg),3990,2,대형마트,2021-01-21
3,롯데마트 구로점,25,무,1개 (900g),1990,2,대형마트,2021-01-21
4,롯데마트 구로점,24,양파,1개 (200g),990,2,대형마트,2021-01-21

In [ ]:
df.rename(columns={'시장유형 구분(시장/마트) 코드':'유형 코드', '시장유형 구분(시장/마트) 이름':'시장 유형', '점검일자':'일자'}, inplace=True)
#불필요하게 긴 열 이름을 변경, 기존 df에 변경을 주기 위하여 inplace는 True 값으로 설정
#점검일자는 그냥 일자로 변경
df.head()

   시장/마트 이름  품목 번호 품목 이름      실판매규격  가격(원)  유형 코드 시장 유형          일자
0  롯데마트 구로점     28    사과  1개 (300g)   1598      2  대형마트  2021-01-21
1  롯데마트 구로점     27     배  1개 (600g)   1590      2  대형마트  2021-01-21
2  롯데마트 구로점     26    배추   1포기(2kg)   3990      2  대형마트  2021-01-21
3  롯데마트 구로점     25     무  1개 (900g)   1990      2  대형마트  2021-01-21
4  롯데마트 구로점     24    양파  1개 (200g)    990      2  대형마트  2021-01-21

In [ ]:
df['품목 번호'].unique()
#품목 번호는 다음과 같이 있음. 
#고등어는 13, 266, 304 냉동 268 수입산 318
#배추는 307(1포기 2.5~3kg), 26, 중간 175 271
#무는 25 308(1개 1kg) 125 세척무 274
#배는 306, 27, 276
#오징어는 253, 254, 냉동 256
#돼지고기와 달걀은 해당 규격에 해당하는 적절한 데이터를 제공하지 않아 농수산물 안으로 변경

array([ 13,  17,  18,  22,  23,  24,  25,  26,  27,  28,  50,  52,  54,
        58,  82,  99, 106, 118, 119, 125, 129, 131, 133, 134, 135, 136,
       138, 144, 152, 171, 175, 176, 181, 184, 201, 202, 237, 244, 248,
       253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265,
       266, 267, 268, 269, 271, 272, 274, 275, 276, 277, 278, 282, 283,
       284, 285, 288, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 318, 320, 321, 324])

In [ ]:
df = df.sort_values('품목 번호') #물품들을 뭉쳐놓기 위해 품목 번호로 오름차순 정렬시킴.
df.head()

         시장/마트 이름  품목 번호 품목 이름      실판매규격  가격(원)  유형 코드 시장 유형          일자
47776        대림시장     13   고등어  1마리(380g)   4000      1  전통시장  2021-07-29
57644   홈플러스 동대문점     13   고등어  1마리(232g)   2990      2  대형마트  2021-08-27
13653        신창시장     13   고등어   1마리 320g   3500      1  전통시장  2021-03-11
32738    롯데마트 강변점     13   고등어    1마리25cm   3300      2  대형마트  2021-05-27
8434   신세계백화점 강남점     13   고등어    1마리486g   7800      2  대형마트  2021-02-25

In [ ]:
pear_list=[306, 27, 276]
market_pear = df[df['품목 번호'].isin(pear_list)]
market_pear.head() #품목 번호로 따로 묶어서 배의 리스트를 만듦

       시장/마트 이름  품목 번호 품목 이름      실판매규격  가격(원)  유형 코드 시장 유형          일자
12425  홈플러스 방학점     27     배  1봉지 1,7kg  16990      2  대형마트  2021-02-25
31476   이마트 은평점     27     배   1개(600g)   3300      2  대형마트  2021-05-27
52303    방배종합시장     27     배     1개505g   5000      1  전통시장  2021-08-26
46411    고척근린시장     27     배   1개(600g)   3500      1  전통시장  2021-07-29
46275      영천시장     27     배   1개(400g)   3000      1  전통시장  2021-07-29

In [ ]:
market_pear['품목 이름'].unique() #러프데이터가 이상하게 섞여있어, 결측치와 함께 사과 데이터를 market_pear에서 삭제하고자 함

array(['배', '사과(부사)', '사과', nan, '배(신고)', '배(신고, 600g)', '사과(부사, 300g)'],
      dtype=object)

In [ ]:
market_pear = market_pear.dropna(axis=0) #결측치 삭제

In [ ]:
apple = market_pear[market_pear['품목 이름'].str.contains('사과')].index #사과포함 행 삭제
market_pear.drop(apple, inplace=True)
market_pear

       시장/마트 이름  품목 번호        품목 이름      실판매규격  가격(원)  유형 코드 시장 유형          일자
12425  홈플러스 방학점     27            배  1봉지 1,7kg  16990      2  대형마트  2021-02-25
31476   이마트 은평점     27            배   1개(600g)   3300      2  대형마트  2021-05-27
52303    방배종합시장     27            배     1개505g   5000      1  전통시장  2021-08-26
46411    고척근린시장     27            배   1개(600g)   3500      1  전통시장  2021-07-29
46275      영천시장     27            배   1개(400g)   3000      1  전통시장  2021-07-29
...         ...    ...          ...        ...    ...    ...   ...         ...
71401   청량리종합시장    306  배(신고, 600g)   1개(610g)   2500      1  전통시장  2021-10-28
54033    마천중앙시장    306  배(신고, 600g)       600g   4000      1  전통시장  2021-08-26
28444     태평백화점    306  배(신고, 600g)     1봉(4개)  16800      2  대형마트  2021-04-29
39906  홈플러스 방학점    306  배(신고, 600g)       600g   6330      2  대형마트  2021-06-24
68047     롯데백화점    306  배(신고, 600g)         1개  10000      2  대형마트  2021-10-28

[4862 rows x 8 columns]

In [ ]:
market_pear['실판매규격'].unique() #실판매 규격이 난장판이라, 봉, 상자, 팩 및 그 외의 이상치가 들어간 행을 제거하고자 함

array(['1봉지 1,7kg', '1개(600g)', '1개505g', '1개(400g)', '1개(555g)',
       '1개688g', '1개', '1개(650g)', '1팩(1957g)3개', '1개 (600g)', '1개(630g)',
       '1개800g', '1개794g', '1박스(2500g)', '1개(700g)', '1개 (800g)',
       '1개906g', '1개610g', '1개(550g)', '1개(500g)', '1개(467g)4개',
       '1개 (700g)', '1봉 1800g4', '1개550g', '1상자(5개)3000g', '1봉지 1.5kg',
       '1개(590g)', '1개630g', '1개[ 600g]', '1봉(3개)1982g', '1개600g',
       '1상자(6개)3kg', '1팩3~4', '1개(530g)', '1팩(1230g)2개', '1개710g',
       '1개(750kg)', '1개896g', '1개 759g', '1개(893g)', '1개(750g)', '1개830g',
       '1개 786g', '1개720g', '1개(670g)', '1박스(2650g)', '1개510g',
       '1개(832g)', '1봉(2개)1710g', '1상자(9개)3000g6', '1개914g',
       '1봉(3개)2218g', '1개500g', '1상자(4개)3000g', '1박스(3000g)',
       '1상자(6개)3000g', '1개 ', '1박스(2700g)', '1봉(3개)2000g', '1개 600g',
       '1개(657g)', '1봉(3개)1962g', '1개673g', '1개620g', '1개662g',
       '1개(697g)', '1개726g', '1개(711g)', '1팩(1.7kg)3개', '1개816g',
       '1봉(3개)1930g', '1개 649g', '1봉지(2.4kg)', '1개(566g)', '1봉(3개)1878g',
       '1봉지 2.3kg', '1봉지(1.5kg)', '1개(480g)', '1개 (3개 팩 17,900원)',
       '1개660g', '1개(570g)', '1개9600g)', '1개(536g)', '1봉(2개)1582g',
       '1개784g', '1봉지 1.7kg', '1봉(2개)1,678g', '1개650g', '1봉(2개)1328g',
       '1개962g', '1개 784g', '1봉(3개)1900g', '1개(537g)', '1봉(3개)1924g',
       '1개680g', '10개(600g)', '1개580g', '1개(620g)', '1봉지 1.3kg',
       '1봉(2kg)', '1개 769g', '1개 689g', '1개731g', '1개712g', '1개(560g)',
       '1봉(3개)2056g', '1봉지 1.4kg', '1개 699g', '1봉(3개)1890g',
       '1봉(3개)1928g', '1봉(3개)1980g', '1개700g', '1개888g', '1개556g',
       '1개 725g', '1개 (500g)', '1개960g', '1개(510g)', '1개(610g)',
       '1개 800g', '1개(300g)', '1개828g', '1개 (300g)', '1봉지 2.4kg',
       '1개(450g)', '1박스(2,650g)', '1개958g', '1봉(3개)g', '1개 (5개 10,800원 )',
       '1박스(2,700g)', '1개(600g) ', '1개(800g)', '1개(680g)', '1개(580g)',
       '1570개g', '2개1300g', '1개666g', '1개(557g)', '1개762g', '1개764g',
       '1개 (4개  10,900원 )', '1개(418g)', '1개(516g)', '1개694g',
       '1봉(3개)1880g', '1봉(2개)1700g', '1개918g', '1개640g', '1봉(2.5kg)',
       '1개778g', '1개(639g)개', '1개(767g)', '1박스(2,500g)', '1팩 4개',
       '1박스(3,000g)', '1개(789g)', '1개(720g)', '1개775g', '1개790g',
       '1봉(3개)1778g', '1개(595g)', '1팩 3~4개', '30개(1.8kg)',
       '1개 (5개  box 12,900원 )', '1개750g', '1개936g', '1개742g', '1개(제수용,특)',
       '1개(490g)', '1봉(3개)1896g', '1팩 3~4', '1개(제수용)', '1개612g',
       '1개(515g)', '1개 (3입 팩  22,000)', '1개(325g)', '1개704g',
       '1봉(2개)1136g', '1팩 2', '1개 (3개 팩  28,000원)', '1봉(3개)1954g',
       '1개1086g', '1개818g', '1개(554g)', '1개(812g)', '1개681g', '1개798g',
       '1개(350g)', '1개(540g)', '1개(836g)', '1개 (550g)', '1봉지(2.6kg)',
       '1개(544g)', '1개686g', '1개(739g)', '1개 (3입 팩  15,900원 )',
       '1상자(7개)5000g   ', '3개1봉2kg', '1봉지 2.5kg', '1개(525g)', '2개1860g',
       '1개684g', '1봉지(1.7kg)', '1팩1.7kg', '1개756g', '1개716g',
       '1개 (3개  팩  22,000원 )', '1개874g', '1개763g', '1박스(3kg)5개',
       '1봉(3개)1984g', '1개920g', '1봉(3개)1915g', '1봉(2개)1320g',
       '1개(1288g)2개', '1개672g', '1봉지 1.6kg', '1팩(1367g)2개', '1개(852g)',
       '1팩(1244g)2개', '1봉(2개)1600g', '1개 785g', '1봉지 196kg', '1팩 1.7kg',
       '1개(581g)', '1팩 2kg', '1봉(1.7kg)3개', '1개663g', '1개610g ', '1개746g',
       '1개(578g)', '1상자(7개)5000g', '1개648g', '1개652g', '1개 821g',
       '1개 810g', '1개744g', '1팩 2.2kg', '1봉(2개)1650g', '1개605g',
       '1봉(2개)1684g', '1개 (4개 10,900원 )', '1개690g', '1개300g', '1개 768g',
       '1개736g', '1개(575g)', '1봉(2.1kg)', '1개(640g)', '1개(668g)',
       '1봉(1.2kg)', '0', '1개(780g)', '1개(760g)', '1봉(1.9kg)', '1봉(1.7kg)',
       '1봉(1.3kg)', '1개(900g)', '1봉(1.85kg)', '1봉(1.1kg)', '1개(558g)',
       '1개(890g)', '1개(390g)', '1 개', '1개(810g)', '1봉(1.8kg)', '600g',
       '1개(73.g)', '1봉(1kg)', '1개(587g)', '1봉(1.45kg)', '1봉(4개)',
       '1개(765g)', '1개(660g)', '1개(880g)', '1봉(1.25kg)', '1개(730g)',
       '1개(633g)', '1개(830g)', '1개(740g)', '1봉(1.6kg)', '1팩(1.6kg)',
       '1개(460g)', '1개(615g)', '1개(493)', '1봉(2.2kg)', '1개(675g)',
       '1개(840g)', '1팩(1.7kg)', '1팩(1.2kg)', '1봉(1.5kg)', '1개(625g)',
       '1봉(1.4kg)', '1개(820g)', '1봉(2.3kg)', '1개(593g)', '1봉(1.27kg)',
       '1개(420g)', '1개(426g)', '1개,(480g)', '1팩(1200g)', '1개(612g)',
       '1개(484g)', '1봉(2.4kg)', '1개(447g)', '1봉(2.5k)', '1개(384g)',
       '1봉(1.26kg)', '1개(540g', '1개(598g)', '1봉(1.55kg)', '1개(456g)',
       '1개(770g)', '1봉(1,8kg)', '1봉지4개', '1개(850g)', '1개, 600g',
       '1개(710g)', '1개(930g)', '1개 540g', '1개(470g)', '1개(505g)',
       '1개(588g)', '1개(1.4kg)', '1봉(1.95kg)', '1개,600g', '1팩(2.2kg)',
       '1개 500g', '550g', '1개)500g)', '1봉(1.56kg)', '1개(330g)',
       '1개(599g)', '1마리(550g)', '1개(627g)', '1봉(1.28kg)', '1개(648g)',
       '1개 (2개 팩 21,000원)', '1팩 2개', '1개(659g)', '610g', '1개(649g)',
       '1봉(1926g)3개', '1개 (3개 29,000원)', '1개 (5개 박스 24,000원)', '1팩 3개',
       '1개(635g)', '1개600', '1개 (2개  팩  8,000원)', '1개 (1팩 2개 20,000원)',
       '1개 (2개 팩 19,000원)', '1개 600g ', '1개 (4개 14,900원)', '1개(628g)',
       '1개615g ', '1개(817g)', '1봉(1983g)3개', '1개(645g)', '1개(643g)',
       '봉(4개)', '1망(4개)', '1개(617g)', '1개 (1팩 3개 11,800원)',
       '1개 (1박스 5개 16,900원)', '1개(651g)', '1개 (1봉 2개 10,000원)',
       '1개 (3입 팩 18,000원)', '1개 (600g )', '1개(647g)', '1개 (3개 10,000원 )',
       '1개 (1팩 2개 18,000원)', '1개(616g)', '1개 (2개 8,980원)', '1개(571g)',
       '1개 (3개 10,000원)', '1개640g ', '1개(809g)', '1개(783g)',
       '1개 (830g내외)', '1개 (2개 팩 22,000원)', '1개 (1팩 4개12,800원)',
       '1개(638g)', '1봉(1926g)5개', '1개 (2개 8,900원)', '1개(601g)',
       '1개(623g)', '1개  (600g내외)', '1개(655g)', '1개(826g)',
       '1개 (1박스 5개 15,600원)', '1개 (2개 20,000원)', '1봉(1927g)3개',
       '1팩(997g)2개', '1개(641g)', '1봉(1845g)3개', '1개  (2입 팩 21,000원)',
       '1개(609g)', '1개 (2개  5,000원 )', '1봉(1999g)3개',
       '1개 (1봉 2개 980g 8,900원)', '1팩 4~7개', '620g', '1개 (2입 팩 22,000원)',
       '1바스 4~6개', '1개(577g)', '580g', '1개  (5개 box 16,900', '1팩3개',
       '1봉지(2.5kg)', '1개 (2개 22,000원)', '1개 (1팩 2개 21,000원)',
       '1개 (1봉 2개 8,980원)', '1개 (1봉 2개 18,000원)', '1팩(1857g)3개', '1봉(3개)',
       '1팩 ', '1개 (1봉 2개 8,900원)', '1개 (2개 팩  5,000원) ',
       '1개 (2개 봉 9,000원)', '1개 (3개 팩 10,000원)', '1개 (2개 팩 10,000원)',
       '1개 (1팩 2개 22,000원)', '1개  (2개 11,000원)', '1개 (4개 봉 16,900원)',
       '팩 4개', '1개(610G)', '1개 (1팩 2개 6,000원)', '1개 (1팩 2개 10,000원)',
       '1개 (1봉 2개 9,980)', '570g', '1개 (1팩 2개 20,000원', '1봉(1700g)3개',
       '1봉(2kg)3개', '1봉(3kg)4개', '1개 (1팩 2개 12,000원)',
       '1개 (1봉 4개 16,900원)', '1개(693g)', '1개  (1봉 2개 8,900원)', '1개(619g)',
       '1개  (2개 22,000원)', '1개 (1팩 4개 16,900원)', '1개 (3개  10,000원 )',
       '1개(803g)', '1개(654g)', '1개(606g)', '500g', '1개 (1봉 3개 12,800원)',
       '1개(563g)3개', '1개 (1봉 2개 9,980원)', '1개(642g)', '1개540g',
       '1ro(603g)', '1봉(1744g)3개', '1팩 4~6개', '1개(576g)',
       '1개 (5개  박스 12,900원 )', '1개  (600g )', '1봉(1913g)3개', '590g',
       '1팩(1847g)3개', '1개 (3입 팩  10,000원) ', '1팩 4~5', '1개(837g)', '630g',
       '1개 (3개 팩 18,000원)', '1개 (1팩 3개 15,800원)', '1봉(1806g)3개',
       '1개(607g)', '1개(798g)', '1개(614g)', '1개(813g)', '1개 (2개 9,980원)',
       '1개(669g)', '1개 (750g 내외)', '1봉(1857g)3개', '1봉(1998g)3개',
       '1개 (2개  팩  8,000원 )', '1개 (2개  팩 7,000원 )'], dtype=object)

In [ ]:
non_data = market_pear[market_pear['실판매규격'].str.contains('봉|팩|상자|박스|망|2개1860|2개1300')].index #해당 문자 포함 행 전부 삭제
market_pear.drop(non_data, inplace=True)

In [ ]:
non_data = market_pear[market_pear['실판매규격']=='0'].index
market_pear.drop(non_data, inplace=True)
non_data = market_pear[market_pear['실판매규격']=='10개(600g)'].index
market_pear.drop(non_data, inplace=True)
#0은 포함 시키면 행이 전부 날아가므로, 오로지 '0'으로 되어있는 요소의 행만 삭제
#10개는 위의 방식으로 하면 에러나서 이 방식으로 처리

In [ ]:
market_pear['실판매규격'].unique() #1개만 남은 것을 확인할 수 있다

array(['1개(600g)', '1개505g', '1개(400g)', '1개(555g)', '1개688g', '1개',
       '1개(650g)', '1개 (600g)', '1개(630g)', '1개800g', '1개794g',
       '1개(700g)', '1개 (800g)', '1개906g', '1개610g', '1개(550g)',
       '1개(500g)', '1개(467g)4개', '1개 (700g)', '1개550g', '1개(590g)',
       '1개630g', '1개[ 600g]', '1개600g', '1개(530g)', '1개710g', '1개(750kg)',
       '1개896g', '1개 759g', '1개(893g)', '1개(750g)', '1개830g', '1개 786g',
       '1개720g', '1개(670g)', '1개510g', '1개(832g)', '1개914g', '1개500g',
       '1개 ', '1개 600g', '1개(657g)', '1개673g', '1개620g', '1개662g',
       '1개(697g)', '1개726g', '1개(711g)', '1개816g', '1개 649g', '1개(566g)',
       '1개(480g)', '1개660g', '1개(570g)', '1개9600g)', '1개(536g)', '1개784g',
       '1개650g', '1개962g', '1개 784g', '1개(537g)', '1개680g', '1개580g',
       '1개(620g)', '1개 769g', '1개 689g', '1개731g', '1개712g', '1개(560g)',
       '1개 699g', '1개700g', '1개888g', '1개556g', '1개 725g', '1개 (500g)',
       '1개960g', '1개(510g)', '1개(610g)', '1개 800g', '1개(300g)', '1개828g',
       '1개 (300g)', '1개(450g)', '1개958g', '1개 (5개 10,800원 )', '1개(600g) ',
       '1개(800g)', '1개(680g)', '1개(580g)', '1570개g', '1개666g', '1개(557g)',
       '1개762g', '1개764g', '1개 (4개  10,900원 )', '1개(418g)', '1개(516g)',
       '1개694g', '1개918g', '1개640g', '1개778g', '1개(639g)개', '1개(767g)',
       '1개(789g)', '1개(720g)', '1개775g', '1개790g', '1개(595g)',
       '30개(1.8kg)', '1개 (5개  box 12,900원 )', '1개750g', '1개936g',
       '1개742g', '1개(제수용,특)', '1개(490g)', '1개(제수용)', '1개612g', '1개(515g)',
       '1개(325g)', '1개704g', '1개1086g', '1개818g', '1개(554g)', '1개(812g)',
       '1개681g', '1개798g', '1개(350g)', '1개(540g)', '1개(836g)',
       '1개 (550g)', '1개(544g)', '1개686g', '1개(739g)', '1개(525g)',
       '1개684g', '1개756g', '1개716g', '1개874g', '1개763g', '1개920g',
       '1개(1288g)2개', '1개672g', '1개(852g)', '1개 785g', '1개(581g)',
       '1개663g', '1개610g ', '1개746g', '1개(578g)', '1개648g', '1개652g',
       '1개 821g', '1개 810g', '1개744g', '1개605g', '1개 (4개 10,900원 )',
       '1개690g', '1개300g', '1개 768g', '1개736g', '1개(575g)', '1개(640g)',
       '1개(668g)', '1개(780g)', '1개(760g)', '1개(900g)', '1개(558g)',
       '1개(890g)', '1개(390g)', '1 개', '1개(810g)', '600g', '1개(73.g)',
       '1개(587g)', '1개(765g)', '1개(660g)', '1개(880g)', '1개(730g)',
       '1개(633g)', '1개(830g)', '1개(740g)', '1개(460g)', '1개(615g)',
       '1개(493)', '1개(675g)', '1개(840g)', '1개(625g)', '1개(820g)',
       '1개(593g)', '1개(420g)', '1개(426g)', '1개,(480g)', '1개(612g)',
       '1개(484g)', '1개(447g)', '1개(384g)', '1개(540g', '1개(598g)',
       '1개(456g)', '1개(770g)', '1개(850g)', '1개, 600g', '1개(710g)',
       '1개(930g)', '1개 540g', '1개(470g)', '1개(505g)', '1개(588g)',
       '1개(1.4kg)', '1개,600g', '1개 500g', '550g', '1개)500g)', '1개(330g)',
       '1개(599g)', '1마리(550g)', '1개(627g)', '1개(648g)', '1개(659g)',
       '610g', '1개(649g)', '1개 (3개 29,000원)', '1개(635g)', '1개600',
       '1개 600g ', '1개 (4개 14,900원)', '1개(628g)', '1개615g ', '1개(817g)',
       '1개(645g)', '1개(643g)', '1개(617g)', '1개(651g)', '1개 (600g )',
       '1개(647g)', '1개 (3개 10,000원 )', '1개(616g)', '1개 (2개 8,980원)',
       '1개(571g)', '1개 (3개 10,000원)', '1개640g ', '1개(809g)', '1개(783g)',
       '1개 (830g내외)', '1개(638g)', '1개 (2개 8,900원)', '1개(601g)',
       '1개(623g)', '1개  (600g내외)', '1개(655g)', '1개(826g)',
       '1개 (2개 20,000원)', '1개(641g)', '1개(609g)', '1개 (2개  5,000원 )',
       '620g', '1바스 4~6개', '1개(577g)', '580g', '1개  (5개 box 16,900',
       '1개 (2개 22,000원)', '1개  (2개 11,000원)', '1개(610G)', '570g',
       '1개(693g)', '1개(619g)', '1개  (2개 22,000원)', '1개 (3개  10,000원 )',
       '1개(803g)', '1개(654g)', '1개(606g)', '500g', '1개(563g)3개',
       '1개(642g)', '1개540g', '1ro(603g)', '1개(576g)', '1개  (600g )',
       '590g', '1개(837g)', '630g', '1개(607g)', '1개(798g)', '1개(614g)',
       '1개(813g)', '1개 (2개 9,980원)', '1개(669g)', '1개 (750g 내외)'],
      dtype=object)

In [ ]:
market_pear = market_pear.drop(['실판매규격', '품목 이름'], axis=1) #다 맞춰줬기 때문에, 규격과 이름을 밀고 다시 같은 요소로 통일시켜서 새로운 열을 생기게 하려고 함
market_pear['단위'] = '1개'
market_pear['품목'] = '배'
market_pear

        시장/마트 이름  품목 번호  가격(원)  유형 코드 시장 유형          일자  단위 품목
31476    이마트 은평점     27   3300      2  대형마트  2021-05-27  1개  배
52303     방배종합시장     27   5000      1  전통시장  2021-08-26  1개  배
46411     고척근린시장     27   3500      1  전통시장  2021-07-29  1개  배
46275       영천시장     27   3000      1  전통시장  2021-07-29  1개  배
85668  홈플러스 동대문점     27   3990      2  대형마트  2021-12-30  1개  배
...          ...    ...    ...    ...   ...         ...  .. ..
39379      롯데백화점    306  10000      2  대형마트  2021-06-24  1개  배
71401    청량리종합시장    306   2500      1  전통시장  2021-10-28  1개  배
54033     마천중앙시장    306   4000      1  전통시장  2021-08-26  1개  배
39906   홈플러스 방학점    306   6330      2  대형마트  2021-06-24  1개  배
68047      롯데백화점    306  10000      2  대형마트  2021-10-28  1개  배

[4251 rows x 8 columns]

In [ ]:
#일자, 품목, 품목 번호, 단위, 가격, 시장이름, 시장 유형, 유형 코드 순으로 순서를 깔끔하게 변경하기로 함
#일자 순으로 정렬, 그리고 인덱스 재정렬
pear = market_pear[['일자', '품목', '품목 번호', '단위', '가격(원)', '시장/마트 이름', '시장 유형', '유형 코드']]
pear = pear.sort_values('일자')
pear.reset_index(drop=True, inplace=True)
pear
#품목 배에 대하여 전처리 완료
#같은 전처리를 품목별로 반복

              일자 품목  품목 번호  단위  가격(원)     시장/마트 이름 시장 유형  유형 코드
0     2021-01-21  배     27  1개   1590     롯데마트 구로점  대형마트      2
1     2021-01-28  배     27  1개   4290    NC백화점 불광점  대형마트      2
2     2021-01-28  배    306  1개   4996     홈플러스 잠실점  대형마트      2
3     2021-01-28  배     27  1개   3962     홈플러스 목동점  대형마트      2
4     2021-01-28  배    306  1개   5990     홈플러스 잠실점  대형마트      2
...          ... ..    ...  ..    ...          ...   ...    ...
4246  2021-12-30  배    276  1개   1833       청담삼익시장  전통시장      1
4247  2021-12-30  배    276  1개   3300        목3동시장  전통시장      1
4248  2021-12-30  배    276  1개   6000   롯데백화점 청량리점  대형마트      2
4249  2021-12-30  배    276  1개  12750    롯데백화점 강남점  대형마트      2
4250  2021-12-30  배    276  1개   2480  농협하나로마트 신촌점  대형마트      2

[4251 rows x 8 columns]

In [ ]:
mackerel_list=[13, 266, 304] #고등어 생물, 국내산
squid_list=[253, 254] #오징어 생물 
cabbage_list=[307, 26, 175, 271] #배추
radish_list=[25, 308, 125] #무(세척무 아님)

In [ ]:
market_mackerel = df[df['품목 번호'].isin(mackerel_list)]
market_squid = df[df['품목 번호'].isin(squid_list)]
market_cabbage = df[df['품목 번호'].isin(cabbage_list)]
market_radish = df[df['품목 번호'].isin(radish_list)]

품목 이름 정리

In [ ]:
market_mackerel['품목 이름'].unique()

In [ ]:
market_mackerel=market_mackerel.dropna(axis=0)
squid_non = market_mackerel[market_mackerel['품목 이름'].str.contains('오징어')].index
market_mackerel.drop(squid_non, inplace=True)
market_mackerel['품목 이름'].unique()

In [ ]:
market_squid['품목 이름'].unique()

In [ ]:
market_squid=market_squid.dropna(axis=0)
fish_non = market_squid[market_squid['품목 이름'].str.contains('명태|동태|고등어')].index
market_squid.drop(fish_non, inplace=True)
market_squid['품목 이름'].unique()

In [ ]:
market_cabbage['품목 이름'].unique()

In [ ]:
market_cabbage=market_cabbage.dropna(axis=0)
pear_non = market_cabbage[market_cabbage['품목 이름'].str.contains('신고')].index
market_cabbage.drop(pear_non, inplace=True)
pear_non = market_cabbage[market_cabbage['품목 이름']=='배'].index
market_cabbage.drop(pear_non, inplace=True)
market_cabbage['품목 이름'].unique()

In [ ]:
market_radish['품목 이름'].unique()

In [ ]:
market_radish=market_radish.dropna(axis=0)
cab_non = market_radish[market_radish['품목 이름'].str.contains('배추')].index
market_radish.drop(cab_non, inplace=True)
market_radish['품목 이름'].unique()

실판매규격 정리

In [ ]:
market_mackerel = market_mackerel.query('실판매규격.str.contains("1마리")', engine='python')
#1마리 포함 행 다 뽑기
non_data = market_mackerel[market_mackerel['실판매규격'].str.contains('cm 2마리|cm 3마리|cm3마리|cm 4마리')].index
market_mackerel.drop(non_data, inplace=True)
market_mackerel['실판매규격'].unique()

In [ ]:
market_squid = market_squid.query('실판매규격.str.contains("1마리")', engine='python')
non_data = market_squid[market_squid['실판매규격'].str.contains('cm 2마리|cm  2마리|cm 3마리|cm3마리|cm 4마리|cm 6마리|21마리')].index
market_squid.drop(non_data, inplace=True)
market_squid['실판매규격'].unique()

In [ ]:
market_cabbage = market_cabbage.query('실판매규격.str.contains("1포기|1개")', engine='python')
#non_data = market_cabbage[market_cabbage['실판매규격'].str.contains('')].index
#market_cabbage.drop(non_data, inplace=True)
market_cabbage['실판매규격'].unique()

In [ ]:
market_radish = market_radish.query('실판매규격.str.contains("1개")', engine='python')
market_radish['실판매규격'].unique()

품목, 단위 통일

In [ ]:
market_mackerel = market_mackerel.drop(['실판매규격', '품목 이름'], axis=1)
market_mackerel['단위'] = '1마리'
market_mackerel['품목'] = '고등어'

In [ ]:
market_squid = market_squid.drop(['실판매규격', '품목 이름'], axis=1)
market_squid['단위'] = '1마리'
market_squid['품목'] = '오징어'

In [ ]:
market_cabbage = market_cabbage.drop(['실판매규격', '품목 이름'], axis=1)
market_cabbage['단위'] = '1포기'
market_cabbage['품목'] = '배추'

In [ ]:
market_radish = market_radish.drop(['실판매규격', '품목 이름'], axis=1)
market_radish['단위'] = '1개'
market_radish['품목'] = '무'

전처리 마무리

In [ ]:
mackerel = market_mackerel[['일자', '품목', '품목 번호', '단위', '가격(원)', '시장/마트 이름', '시장 유형', '유형 코드']]
mackerel = mackerel.sort_values('일자')
mackerel.reset_index(drop=True, inplace=True)
mackerel

              일자   품목  품목 번호   단위  가격(원)    시장/마트 이름 시장 유형  유형 코드
0     2021-01-21  고등어     13  1마리   5990    롯데마트 구로점  대형마트      2
1     2021-01-28  고등어     13  1마리   2475    이마트 여의도점  대형마트      2
2     2021-01-28  고등어    266  1마리   2500        뚝도시장  전통시장      1
3     2021-01-28  고등어    266  1마리   8900   롯데백화점 미아점  대형마트      2
4     2021-01-28  고등어    304  1마리   3990   홈플러스 영등포점  대형마트      2
...          ...  ...    ...  ...    ...         ...   ...    ...
4170  2021-12-30  고등어    266  1마리   3500       목3동시장  전통시장      1
4171  2021-12-30  고등어    266  1마리   4000    방학동도깨비시장  전통시장      1
4172  2021-12-30  고등어    266  1마리   4500      대림중앙시장  전통시장      1
4173  2021-12-30  고등어    266  1마리   9800  롯데백화점 영등포점  대형마트      2
4174  2021-12-30  고등어    266  1마리   9000      신세계백화점  대형마트      2

[4175 rows x 8 columns]

In [ ]:
squid = market_squid[['일자', '품목', '품목 번호', '단위', '가격(원)', '시장/마트 이름', '시장 유형', '유형 코드']]
squid = squid.sort_values('일자')
squid.reset_index(drop=True, inplace=True)
squid

              일자   품목  품목 번호   단위  가격(원)   시장/마트 이름 시장 유형  유형 코드
0     2021-01-21  오징어    253  1마리    333   롯데마트 구로점  대형마트      2
1     2021-01-28  오징어    253  1마리   4000   홈플러스 잠실점  대형마트      2
2     2021-01-28  오징어    254  1마리   5000       통인시장  전통시장      1
3     2021-01-28  오징어    254  1마리   5980    이마트 가양점  대형마트      2
4     2021-01-28  오징어    254  1마리   5000       통인시장  전통시장      1
...          ...  ...    ...  ...    ...        ...   ...    ...
3702  2021-12-30  오징어    254  1마리   7250  롯데백화점 강남점  대형마트      2
3703  2021-12-30  오징어    254  1마리   6880    이마트 역삼점  대형마트      2
3704  2021-12-30  오징어    254  1마리   5000       인왕시장  전통시장      1
3705  2021-12-30  오징어    254  1마리   4950     청담삼익시장  전통시장      1
3706  2021-12-30  오징어    254  1마리   5000     상계중앙시장  전통시장      1

[3707 rows x 8 columns]

In [ ]:
cabbage = market_cabbage[['일자', '품목', '품목 번호', '단위', '가격(원)', '시장/마트 이름', '시장 유형', '유형 코드']]
cabbage = cabbage.sort_values('일자')
cabbage.reset_index(drop=True, inplace=True)
cabbage

              일자  품목  품목 번호   단위  가격(원)  시장/마트 이름 시장 유형  유형 코드
0     2021-01-21  배추     26  1포기   3990  롯데마트 구로점  대형마트      2
1     2021-01-28  배추     26  1포기   2000    대림중앙시장  전통시장      1
2     2021-01-28  배추     26  1포기   1990  홈플러스 강동점  대형마트      2
3     2021-01-28  배추     26  1포기   4000  방학동도깨비시장  전통시장      1
4     2021-01-28  배추     26  1포기   2580   이마트 창동점  대형마트      2
...          ...  ..    ...  ...    ...       ...   ...    ...
4266  2021-12-30  배추    307  1포기   4000      우림시장  전통시장      1
4267  2021-12-30  배추    307  1포기   5000      송화시장  전통시장      1
4268  2021-12-30  배추    307  1포기   4000    화곡본동시장  전통시장      1
4269  2021-12-30  배추     26  1포기   4000    방배종합시장  전통시장      1
4270  2021-12-30  배추    307  1포기   4290  홈플러스 등촌점  대형마트      2

[4271 rows x 8 columns]

In [ ]:
radish = market_radish[['일자', '품목', '품목 번호', '단위', '가격(원)', '시장/마트 이름', '시장 유형', '유형 코드']]
radish = radish.sort_values('일자')
radish.reset_index(drop=True, inplace=True)
radish

              일자 품목  품목 번호  단위  가격(원)     시장/마트 이름 시장 유형  유형 코드
0     2021-01-21  무     25  1개   1990     롯데마트 구로점  대형마트      2
1     2021-01-28  무     25  1개   2290     홈플러스 목동점  대형마트      2
2     2021-01-28  무    308  1개   3500    롯데백화점 관악점  대형마트      2
3     2021-01-28  무    308  1개   1360  농협하나로마트 신촌점  대형마트      2
4     2021-01-28  무    308  1개   2500         남문시장  전통시장      1
...          ... ..    ...  ..    ...          ...   ...    ...
4345  2021-12-30  무    308  1개   1390    NC백화점 불광점  대형마트      2
4346  2021-12-30  무    308  1개   1980      이마트 용산점  대형마트      2
4347  2021-12-30  무    308  1개   1000       수유재래시장  전통시장      1
4348  2021-12-30  무     25  1개   2000      영등포전통시장  전통시장      1
4349  2021-12-30  무     25  1개   1500         인왕시장  전통시장      1

[4350 rows x 8 columns]

각 전처리 완료된 데이터 프레임을 호출하려면,

배 : pear | 고등어 : mackerel | 오징어 : squid | 배추 : cabbage | 무 : radish

로 호출하면 됩니다.

In [ ]:
from google.colab import files
files.upload()
#xlsx 파일을 직접 파일 라이브러리에서 업로드 할 수 있습니다. 한번에 여러개 가능.

In [ ]:
!pip install openpyxl #xlsx 파일을 하기에 앞서, 런타임에 존재하는 파일을 초기화합니다.

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.8/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.8/dist-packages (from openpyxl) (1.1.0)

각 xlsx 파일에 있어서 결측치는 없으나, 만일 파이썬 내에서 일자 / 평균으로 전처리가 추가로 필요하실 경우, 밑의 코드에 파일 이름을 복붙하시면 됩니다. xlsx파일은 무처럼 고랭지 행이 따로 있는 경우와, 고등어처럼 그냥 일자-평년-평균-서울 행으로 이루어진 경우가 있습니다. 각각 다른 전처리 과정을 넣어두었습니다.

고등어 도매 가격의 경우

In [ ]:
mack_dome =pd.read_excel('고등어도매_중품_10kg.xlsx') #엑셀파일을 받아와, csv파일로 변환
mack_dome.to_csv('고등어도매_10kg')
mack_dome = pd.read_csv('고등어도매_10kg')
mack_dome.head()

,Unnamed: 0,구분,01/04,01/05,01/06,01/07,01/08,01/11,01/12,01/13,...,12/20,12/21,12/22,12/23,12/24,12/27,12/28,12/29,12/30,12/31
0,0,평균,59000,61600,61600,61600,61600,61600,61600,48300,...,58600,54600,54600,54600,54600,54600,54600,54600,50600,50600
1,1,평년,42467,42867,43133,43483,43817,45700,46167,46700,...,43133,42133,41333,40683,40417,41200,41717,42317,42967,43350
2,2,서울,59000,61600,61600,61600,61600,61600,61600,48300,...,58600,54600,54600,54600,54600,54600,54600,54600,50600,50600

In [ ]:
mack_dome = mack_dome.transpose() #행과 열 뒤집기
mack_dome.reset_index(level=0, inplace=True) #인덱스가 된 일자를 열로 들여옴
mack_dome = mack_dome.drop(0, axis=0) #불필요한 첫번째 행 삭제
mack_dome.columns = ['일자', '평균','평년', '서울'] #컬럼 이름을 변경
mack_dome = mack_dome.drop(1, axis=0) #불필요한 두번쨰 행 삭제
mack_dome = mack_dome.drop(['평년','서울'], axis=1) #평년, 서울 열 삭제
mack_dome.reset_index(drop=True, inplace=True) #인덱스 초기화

In [ ]:
mack_dome
#위 전처리코드는 한 런타임에 복수로 실행하면 오류가 나니 다시 실행시키실 경우 엑셀파일부터 받아 런타임하시면 됩니다.

        일자     평균
0    01/04  59000
1    01/05  61600
2    01/06  61600
3    01/07  61600
4    01/08  61600
..     ...    ...
243  12/27  54600
244  12/28  54600
245  12/29  54600
246  12/30  50600
247  12/31  50600

[248 rows x 2 columns]

무 도매 가격의 경우

In [ ]:
radish_h_dome =pd.read_excel('무도매_상품_20kg.xlsx')
radish_h_dome.to_csv('무도매_상품_20kg')
radish_h_dome = pd.read_csv('무도매_상품_20kg')
radish_h_dome.head()

,Unnamed: 0,구분,Unnamed: 1,01/04,01/05,01/06,01/07,01/08,01/11,01/12,...,12/20,12/21,12/22,12/23,12/24,12/27,12/28,12/29,12/30,12/31
0,0,평균,NaN,13000,15000,15400,15600,14600,14400,15600,...,11400,10800,10600,10600,11600,12000,12400,11200,11000,11000
1,1,평년,NaN,19185,19235,18788,18371,17800,13593,13133,...,16800,18268,18112,17886,17617,18000,20283,19710,19691,19886
2,2,서울,봄,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
3,3,NaN,고랭지,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
4,4,NaN,가을,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [ ]:
radish_h_dome = radish_h_dome.drop([1,2,3,4,5], axis=0) #불필요한 첫번째 행 삭제
radish_h_dome = radish_h_dome.transpose() #행과 열 뒤집기
radish_h_dome.reset_index(level=0, inplace=True) #인덱스가 된 일자를 열로 들여옴
radish_h_dome.columns = ['일자', '평균'] #컬럼 이름을 변경
radish_h_dome = radish_h_dome.drop([0,1,2], axis=0) #쓸모없는 0, 1, 2 인덱스의 행 삭제
radish_h_dome.reset_index(drop=True, inplace=True) #인덱스 초기화

In [ ]:
radish_h_dome

        일자     평균
0    01/04  13000
1    01/05  15000
2    01/06  15400
3    01/07  15600
4    01/08  14600
..     ...    ...
243  12/27  12000
244  12/28  12400
245  12/29  11200
246  12/30  11000
247  12/31  11000

[248 rows x 2 columns]